<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="add" method="post" class="form-horizontal">
	姓名<input name="name"><br>
   	 性别<input name="sex"><br>
   	 年龄<input name="age"><br>
	<input type="submit" value="保存"><br>
	</form>
</body>
</html>