<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  
   <ul class="pagination" th:fragment="page1">
	  <li> <a th:href="@{'javascript:goto(1)'}">首页</a>                                                                </li>

	  <li> <a th:href="@{'javascript:goto('+${pages.number}+')'}" th:if="${pages.number>0}" th:text="上一页"></a>                                 </li>

	  <li> <a th:href="@{'javascript:goto('+${pages.number-1}+')'}" th:if="${pages.number-1>0}" th:text="${pages.number-1}"></a>                  </li>
	  <li> <a th:href="@{'javascript:goto('+${pages.number}+')'}" th:if="${pages.number>0}" th:text="${pages.number}"></a>                        </li>
	  <li class="active" > <a th:text="${pages.number+1}"></a>                                                                                                   </li>
	  <li> <a th:href="@{'javascript:goto('+${pages.number+2}+')'}" th:if="${pages.number+2<=pages.totalPages}" th:text="${pages.number+2}"></a>  </li>
	  <li> <a th:href="@{'javascript:goto('+${pages.number+3}+')'}" th:if="${pages.number+3<=pages.totalPages}" th:text="${pages.number+3}"></a>  </li>

	  <li> <a th:href="@{'javascript:goto('+${pages.number+2}+')'}" th:if="${pages.number+2<=pages.totalPages}" th:text="下一页">尾页</a>         </li>
	  <li> <a th:href="@{'javascript:goto('+${pages.totalPages}+')'}" th:text="'尾页('+${pages.totalPages}+')'">尾页</a>                          </li>
  </ul>

  </body>
</html>
